.boxbody {
    margin-top: auto; /*6%*/
    height: auto;
}

body {
    padding-top: 8%;
    background-color: #ecf0f1;
}

.yamm {
    padding: 10px 20px!important;
}

#title_info {
    text-align: center;
    line-height: 1.8;
}

fieldset {
    background-color: #eeeeee;
    padding: 10px 50px;
    margin-left: 10%;
    margin-right: 50%;
}
  
legend {
    background-color: #3d6646;
    color: white;
    padding: 5px 10px;
}

footer {
    padding: 30px 0 30px;
    color: #ecf0f1;
    background: #ecf0f1;
    /*box-shadow: inset 0 9px 25px -16px #000;*/
}

.footer-txt {
    color: #000;
    font-size: 14px;
    text-align: center;
}

.footer-logos {
    width: 80px;
    height: 80px;
    margin: 20px auto 0 auto;
    position: relative;
}