.boxbody {
    width: 300px;
    height: 100%;
} 

.postbox { 
    box-sizing: border-box;
    height: 60px; 
    overflow: hidden;
    resize: none;
}

body {
    padding-top: 80px;
}

.yamm {
    padding: 10px 20px!important;
}

footer {
    padding: 30px 0 30px;
    color: #ecf0f1;
    background: #ecf0f1;
}

.footer-txt {
    color: #000;
    font-size: 14px;
    text-align: center;
}

.footer-logos {
    width: 80px;
    height: 80px;
    margin: 20px auto 0 auto;
    position: relative;
}
