.commentbox { 
    box-sizing: border-box;
    height: 60px; 
    overflow: hidden;
    resize: none;
}

.content {
    margin-bottom: 0px;
}

.testing {
    display: flex;
    flex-direction: column;
}